# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Reports and logs
reports/
logs/

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Allure results
allure-results/
allure-report/